<!-- Error -->
<div class="panel panel-danger" ng-if="!success" >
    <div class="panel-heading" >
      <strong>Error while running the service</strong>
     </div>
     <div class="panel-body">
      <pre>{{content.errorMessage}}</pre>
     </div>
  </div>
  
  <div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
      Cyber expert Parse Prefetch 
      <br/>
      Report for <strong>{{artifact.data | fang}}</strong>
    </div>
  </div>
  
  <div class="panel panel-info" ng-if="success && !content.error">
    <div class="panel-heading">
      PREFETCH LIST
    </div>
    
      <br />
      <table class="table table-bordered panel">
        <thead>
          <th>Processus</th>
          <th>Count</th>
          <th>Date0</th>
          <th>Date1</th>
          <th>Date2</th>
          <th>Date3</th>
          <th>Date4</th>
          <th>Date5</th>
          <th>Date6</th>
          <th>Date7</th>
  
        </thead>
        <tbody>
          <tr ng-repeat="(program,info) in content">
          
            <td>{{program}}</td>
            <td>{{info.count}}</td>
            <td>{{info.date0}}</td>
            <td>{{info.date1}}</td>
            <td>{{info.date2}}</td>
            <td>{{info.date3}}</td>
            <td>{{info.date4}}</td>
            <td>{{info.date5}}</td>
            <td>{{info.date6}}</td>
            <td>{{info.date7}}</td>
  
  
          </tr>	
        </tbody>
      </table>
  </div>